.schedule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-right {
    background: grey;
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
  }
  
  .form-left {
    .puppy {
        bottom: -5px;
        position: absolute;
        text-align: center;
      
        &:before {
            background: grey;
            content: "";
            height: 100%;
            left: 0;
            opacity: .4;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
  
    img {
        filter: sepia(100%);
        width: 70%;
    }
}
  