.form-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: flex-start;
  padding-left: 30px;
  justify-content: center;
}

.form-left{
  display: flex;
    flex-direction: column;
    width: 30%;
    opacity: 70%;
    align-items: center;
    justify-content: center;
}

.schedule-container{
  
  flex-wrap: wrap;
  min-height: 80vh;
  width: 100%;
  background-color: #d4e4da;
  color: #535A77;
  padding: 40px 0;
}