.container{
  border: 2px solid whitesmoke;
  border-radius: 2%;
  width: 50%;
  height: 50%;
  position: relative;
  right: -550px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form-paseo{
  padding: 10px;
  
}

.title-header{
  text-align: center;
}

.lista-paseos{
  text-align: start;
}